.header{
      .icons{
          height: 22px;width: 22px;
      }
      .menu-section{
          img{
              cursor: pointer;
              width:25%;
              height: 25%;
          }
          h3{
              cursor: pointer;
              // margin-top: auto;
              // margin-bottom: auto;
          }
      }
      .nameslip{
          align-items: center;
      }
  }