<div class="row"   >
      <div class="col-lg-7 content" style="padding: 7% 3% 0% 11%;">
      <h1>About Us</h1>
          <br/>
      <p class="p-margin p-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet massa magna, nec malesuada risus tristique vel. Praesent rutrum eros augue. Nulla pellentesque scelerisque tellus dignissim consequat. Integer gravida, purus vel porta efficitur, lectus velit faucibus massa, quis porta nunc urna sed nibh.</p>
      </div>
      <div class="col-lg-5 sd-col">
          <img class="img_al" src="../assets/our-teams-collaborating-in-the-office-breakout-area.jpg" alt="no_image"/>
      </div>
      </div>