<div class="footer">
      <footer>
        <div class="container-footer">
          <div class="row">
           <div class="col-lg-12">
             <div class="d-flex line-0">
               <div class="ml-auto p-2">
                 <h6 [class]="(tempStateChange==2)?'underline-label underline-label-active':'underline-label'" (click)="stateChange()">About Us</h6>
               </div>
               <div class="p-2">
                 <h6>Get In Touch</h6>
               </div>
             </div>
           </div>
            <div class="col-lg-12">
               <span>All Rights Reserved 2020| Albarada Technical service LLC Dubai,UAE</span>
            </div>
          </div>
        </div>
       </footer> 
     </div>